<ion-view class="contact-us-page" title="{{$root.appLanguage.CONTACT_US_TEXT}}" hide-tabs>
	<ion-content scroll="true">
	<div align="center" style="margin-top: 35px;"><img class="home-logo" src="img/logo.png"></div>
	<div Style="margin: 20px;">
	<div align="center" style="width: 100%; height:300px; display:inline-block; overflow:hidden; margin-top: 15px;">
	<iframe src="https://www.google.com/maps/d/embed?mid=1YZ2V3bkYkmcVuG8zAzOM2kiiSC0&hl=en" style="position:relative; top:-46px; border:none;" width="100%" height="300px"></iframe></div>
	<div style="margin-top: -10px;">
	<div><i class="icon ion-ios-cart"></i>
		Address: 22 Ahmed Sabry st., Zamalek, Cairo
		</div>
	<div style="margin-top: 15px;"><i class="icon ion-ios-telephone"></i>
		Phone: <a style="text-decoration: none;" href="tel:+201234567890">+201234567890</a>
		</div>
    <div style="margin-top: 15px;"><i class="icon ion-ios-email"></i>
		Email: <a style="text-decoration: none;" href="mailto:info@famaagency.com">info@famaagency.com</a>
		</div>
    <div style="margin-top: 15px;"><i class="icon ion-ios-world"></i>
		Website: <a style="text-decoration: none;" href="http://famaagency.com">www.famaagency.com</a>
		</div>
	<div align="center" style="margin-top: 25px;">
		<h3>We are Social!</h3>
		</div>
		<div align="center" style="margin-top: 10px;">
		<h2><i class="icon ion-social-facebook"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon ion-social-instagram"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon ion-social-twitter"></i></h2>
		</div>	
		</div>			
		</div>
	</ion-content>
</ion-view>