<ion-view class="contact-us-page" title="{{$root.appLanguage.ABOUT_US_TEXT}}" hide-tabs>
	<ion-content scroll="true">
		<div align="center" style="margin-top: 35px;"><img class="home-logo" src="img/logo.png"></div>
		<div align="center" style="margin: 25px; text-align: justify; text-justify: distribute; font-size: 15px;"><p>FAMA is a mobile jewellery store, created using ionic framework and wordpress for backend. It's a highly dynamic app; where you can add products, discounts or announce offers all in real time.</p><p>The integrated and complete mobile commerce solution provides a variety of payment options; from Cash on delivery to easy integration of payment gateways like paypal and stripe.</p><br><p style="font-size: 12px; text-align: center;">&copy; 2017 | FAMA Agency</p></div>
	</ion-content>
</ion-view>