<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content edge-drag-threshold="false" drag-content="false">
		<ion-nav-bar class="bar-stable is-header" align-title="center">
			

			<ion-nav-buttons side="right">
				<div id="shoppingcart" class="shoppingcart">
					<a href="#/tab/cart">
						<i class="ion-bag"></i>
						<span class="count" ng-if="$root.cartQuantity > 0">{{$root.cartQuantity}}</span>
					</a>
				</div>
      		</ion-nav-buttons>
      		<ion-nav-buttons side="left">
				<div id="topmenu" class="topmenu">
						<i class="ion-grid" ng-click="openModalMenu()"></i>
				</div>
      		</ion-nav-buttons>
		</ion-nav-bar>

		<ion-nav-view name="mainContent"></ion-nav-view>

	    
	</ion-side-menu-content>

	<ion-side-menu side="left" class="is-slidemenu">
		<ion-content>
			<div class="header-menu" ng-if="isLoggedIn()===false">
				<div class="row text-center">
					<div class="col-50">
						<a href="#/tab/home" class="link login" menu-close ng-click="openModalLogin()">
							{{$root.appLanguage.LOGIN_TEXT}}
						</a>
					</div>
					<div class="col-50">
						<a href="#/tab/home" class="link register" menu-close ng-click="openModalRegister()()">
							{{$root.appLanguage.REGISTER_TEXT}}
						</a>
					</div>
				</div>
			</div>
			<div class="header-menu logged-in clearfix" ng-if="isLoggedIn()===true">
				<a href="#/tab/account" menu-toggle="left" class="avatar">
					<img actual-src="{{userInfo.avatar}}" ng-src="img/placeholder.png">
				</a>
				<div class="info">
					<span class="name" ng-bind-html="getUserDisplay()"></span>
					<a ng-if="isLoggedIn()===true" menu-close ng-click="doLogout()" href="#/tab/home" style="text-decoration: none;"><i class="icon ion-power"></i> <span style="font-weight: bolder;">Logout</span></a>
				</div>
			</div>
			<ion-list>
			    <ion-item menu-toggle="left" href="#/tab/home">
					<i class="icon ion-ios-home"></i>
					{{$root.appLanguage.HOME_TEXT}}
				</ion-item>
				<ion-item menu-toggle="left" href="#/tab/categories">
					<i class="icon ion-social-buffer"></i>
					{{$root.appLanguage.CATEGORIES_TEXT}}
				</ion-item>
				<ion-item menu-toggle="left" href="#/tab/search">
					<i class="icon ion-ios-search"></i>
					{{$root.appLanguage.SEARCH_TEXT}}
				</ion-item>
				<ion-item menu-toggle="left" ng-if="isLoggedIn()===true"  href="#/tab/orders">
					<i class="icon ion-ios-cart"></i>
					{{$root.appLanguage.MY_ORDERS_TEXT}}
				</ion-item>
				<ion-item menu-toggle="left" href="#tab/aboutus">
					<i class="icon ion-person"></i>
					{{$root.appLanguage.ABOUT_US_TEXT}}
				</ion-item>
				<ion-item menu-toggle="left" href="#tab/terms">
					<i class="icon ion-document-text"></i>
					{{$root.appLanguage.TERM_AND_CONDITIONS_TEXT}}
				</ion-item>
				<ion-item menu-close onclick="window.plugins.socialsharing.share('Qommerce', null, null, 'http://qommerceapp.com');">
					<i class="icon ion-android-share-alt"></i>
					{{$root.appLanguage.SHARE_THE_APP_TEXT}}
				</ion-item>
				<ion-item menu-toggle="left" href="#tab/contactus">
					<i class="icon ion-email"></i>
					{{$root.appLanguage.CONTACT_US_TEXT}}
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
	
</ion-side-menus>
